.label{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #848484;
	-fx-background-color : #ffffff;
}

.label2{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #74cebd;
	-fx-background-color : #ffffff;
}

.label3{
	-fx-text-fill : #74cebd;
}


.rightpane {
	-fx-background-color : #ffffff;
}

.findBtn {
	-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-text-fill: #848484;
}

.findBtn:hover {
	-fx-border-color: #74CEBD;
	-fx-text-fill: #848484;
	
}

.findLabel {
-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-text-fill: #848484;
}
.sideMenuBar {
	-fx-background-color:  #74CEBD;
}

.sidebutton {
	-fx-background-color : #74CEBD;
	-fx-text-fill : #ffffff;
	-fx-font-size: 22px;
}