.label1{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #74CEBD;
	-fx-background-color : #ffffff;
}

.label2{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #ccc;
	-fx-background-color : #ffffff;
}

.label2:hover {
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #74cebd;
	-fx-background-color : #ffffff;
}

.label3{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 22px;
	-fx-text-fill : #74cebd;
}


.user{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #74CEBD;
	-fx-background-color : #ffffff;
}

.rightpane {
	-fx-background-color : #ffffff;
}

.searchBtn {
	-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-border-width: 1px 1px 1px 1px;
	-fx-text-fill: black;
}

.searchBtn:hover {
	-fx-border-color: #74CEBD;
	-fx-text-fill: black;
	
}


.find {
	-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-text-fill: #848484;
}

.arr1 {
	-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-text-fill: #848484;
	-fx-border-width: 1px 0px 1px 1px;
}

.arr2 { 
	-fx-background-color: #fff;
	-fx-border-color: #CCC;
	-fx-text-fill: #848484;
	
}
.sideMenuBar {
	-fx-background-color:  #74CEBD;
}

.sidebutton {
	-fx-background-color : #74CEBD;
	-fx-text-fill : #ffffff;
	-fx-font-size: 22px;
}

.sidebutton:hover{
	-fx-background-color : #70c4b4;
}

.presentBtn {
	-fx-background-color : #70c4b4;
	-fx-text-fill : #ffffff;
	-fx-font-size: 22px;
}

.listItemBtn {
	-fx-background-color: #fff;
}

.listItemVbox {
	-fx-border-color: #ccc;
	-fx-border-width: 1px 1px 1px 1px;
}

.sidebuttonSelect {
	-fx-background-color : #70c4b4;
	-fx-border-width: 0px 0px 0px 5px;
	-fx-border-color: #fff;
	-fx-text-fill : #ffffff;
	-fx-font-size: 22px;
}
