.label{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 22px;
	-fx-text-fill : #ffffff;
}

.label2{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 24px;
	-fx-text-fill : #74cebd;
}

.sideMenuBtn {
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 22px;
	-fx-text-fill : #ffffff;
	-fx-background-color:  #74cebd;
}

.sideMenuBtn:hover {
	-fx-background-color: #70C4B4;
}

.sideMenuBtnSelect {
	-fx-border-color: #fff;
	-fx-border-width: 0px 0px 0px 5px;
	
}