.nameLabel{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 25px;
	-fx-text-fill : #5D5D5D;
}


.priceLabel{
	-fx-font-family : 'BM HANNA 11yrs old';
	-fx-font-size: 25px;
	-fx-text-fill : #5D5D5D;
}

.chartline{
	-fx-stroke-width : 2px;
	-fx-stroke : #74cebd;
	-fx-background-color : #ffffff;
}
